/* .background{
    background-image: url("./assets/bg.png") no-repeat center center fixed;
    background-size: cover;
} */
*{
    background-color:#BFF3D4;
    /* margin-top: 70px; */
    /* fontSize: 50px; */
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
}

/* #BFF3D4; */